body
{
	padding: 18px;
	border: solid 2px #ce993c;
	color: #ce993c;
	background-color: #191814;
	max-width: 960px;
	margin: 240px auto;
}

#program
{
	
}

a
{
	padding: 1px;
}

a:link
{
	color: #191814;
	background-color: #ce993c;
}

a:visited
{
	color: #401000;
	background-color: #5a661e;
}

a:hover
{
	color: black;
	background-color: white;
}

a:active
{
	color: black;
	background-color: white;
}

input
{
	background-color: #191814;
	color: #ce993c;
	padding: 2px;
	border: dotted 1px #ce993c;
}
